<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/artista.css}" rel="stylesheet">
<link th:replace="fragments/base.html :: style"> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>artista</title>
</head>
<body>
  <nav th:replace="fragments/base.html :: nav"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<div class="info" th:if="${artista}" th:object="${artista}">
		<div id="name" th:text="|*{nome} *{cognome}|">Salvador Dalí -
			Salvador Domingo Felipe Jacinto Dalí i Domènech</div>
		<div id="date">
			<span th:text="*{luogoNascita}">Figueres</span> <span
				th:text="*{{dataNascita}}"> 11 maggio 1904</span> <span
				th:if="*{luogoMorte}" th:text="*{luogoMorte}">Figueres</span> <span
				th:date="*{dataMorte}">23 gennaio 1989</span> <span
				th:unless="*{luogoMorte}">Vivo e vegeto</span>
		</div>
		<p id="nation" th:text="*{nazionalita}">Nazionalità: Spagna</p>
	</div>
	<div th:unless="${artista}">Non esiste</div>
	<div id="immagine_artista" th:object="${artista}">
		<img
			th:src="@{'/images/artisti/' + ${artista.nome} + '_' + ${artista.cognome} + '/' + ${artista.nome} + '_' + ${artista.cognome} + '.jpg'}" />
	</div>
	<div class="biografia">
		<h1>Biografia:</h1>
		<span th:text=${artista.biografia}>biografia dell'artista</span>
	</div>
	<div id="elenco" th:object="${artista}">
		<div class="opera" th:each="opera : ${opere}">
			<div class="titolo">
				<a href="opera.html" th:href="@{'/opera/'+ ${opera.id}}"
					th:text="${opera.titolo}">Sogno causato dal volo di un'ape
					intorno a una melagrana un attimo prima del risveglio</a>
			</div>
			<div class="immagine">
				<img
					th:src="@{'/images/artisti/' + ${artista.nome} + '_' + ${artista.cognome} + '/opere/' + ${opera.titolo} + '.jpg'}" width=100% height=100%/>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>