<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:replace="fragments/base.html :: style">
<title>collezioni</title>
</head>
<body>
  <nav th:replace="fragments/base.html :: nav"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<h4>Lista delle collezioni:</h4>
	<ul>
		<li th:each="collezione : ${collezioni}"><a
			href="collezione.html"
			th:href="@{'/collezione' + '/' + ${collezione.id}}"
			th:text="|${collezione.nome} a cura di ${collezione.curatore.nome} ${collezione.curatore.cognome}|">Salvador
				Dali</a></li>
	</ul>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>