<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:replace="fragments/base.html :: style">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: nav"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<form th:action="@{/registrazione}" method="POST">
		<table>
			<tr class="container">
				<td>Username</td>
				<td><input type="text" placeholder="username" required
					th:field="${credenziali.username}" /></td>
				<td th:if="${#fields.hasErrors('credenziali.username')}"
					th:errors="${credenziali.username}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" placeholder="password" required
					th:field="${credenziali.password}" /></td>
				<td th:if="${#fields.hasErrors('credenziali.password')}"
					th:errors="${credenziali.password}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Nome</td>
				<td><input type="text" placeholder="nome" required
					th:field="${utente.nome}" /></td>
				<td th:if="${#fields.hasErrors('utente.nome')}"
					th:errors="${utente.nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Cognome</td>
				<td><input type="text" placeholder="cognome" required
					th:field="${utente.cognome}" /></td>
				<td th:if="${#fields.hasErrors('utente.cognome')}"
					th:errors="${utente.cognome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>
					<button type="submit">Registra</button>
				</td>
			</tr>
		</table>
	</form>

	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>