<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:replace="fragments/base.html :: style"> 
<title>Insert title here</title>
</head>
<body>
  <nav th:replace="fragments/base.html :: nav"></nav>
  <header th:replace = "fragments/base.html :: header"></header>
  	<div>
  	<h1 th:text= "${utente.nome}">Giorgio</h1>
  	<h1>grazie per esserti registrato!</h1>
  	</div>
  <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>